@import 'sassy-inputs/sass/main';

header {
	background-image: url(../img/header_bg.jpg);
}

.card-without-image, .card {
	.card-title, h2 {
		font-weight: 700;
		color: var(--brand-color-3);
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.flip-right {
		margin-left: 10px;
		text-align: left;
		border-left: 10px;
	}

	.stay-left {
		/*rtl:ignore*/
		margin-left: 10px;

		/*rtl:begin:ignore*/
		text-align: left;
		border-left: 10px;
		/*rtl:end:ignore*/
	}
}