account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountEntryModelArgumentsResolver.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/http/AccountRoleServiceHttp.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountEntryOrganizationRelLocalServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountRoleBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountRoleModelImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryUserRelCacheModel.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountGroupBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryUserRelModelImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryCacheModel.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountGroupRelCacheModel.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountRoleCacheModel.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountGroupCacheModel.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryUserRelBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryModelImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountGroupRelModelImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryOrganizationRelBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountGroupRelBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryOrganizationRelCacheModel.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountEntryOrganizationRelModelImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountEntryLocalServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/model/impl/AccountGroupModelImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountEntryServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountEntryOrganizationRelServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountEntryUserRelServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountRoleServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountGroupRelServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountGroupRelLocalServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountRoleLocalServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountEntryUserRelLocalServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountGroupLocalServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/base/AccountGroupServiceBaseImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/http/AccountGroupServiceHttp.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountRoleModelArgumentsResolver.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/http/AccountEntryServiceHttp.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountGroupPersistenceImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/http/AccountGroupRelServiceHttp.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountGroupRelModelArgumentsResolver.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountEntryOrganizationRelModelArgumentsResolver.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/http/AccountEntryUserRelServiceHttp.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/http/AccountEntryOrganizationRelServiceHttp.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountEntryUserRelModelArgumentsResolver.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountGroupRelPersistenceImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountGroupModelArgumentsResolver.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountRolePersistenceImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/constants/AccountPersistenceConstants.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountEntryOrganizationRelPersistenceImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountEntryUserRelPersistenceImpl.java linguist-generated=true
account-service/src/main/java/com/liferay/account/service/persistence/impl/AccountEntryPersistenceImpl.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountRoleServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupRelService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupRelServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryUserRelServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountRoleLocalServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupRelServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryUserRelService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupLocalServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountRoleLocalService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountRoleLocalServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryOrganizationRelLocalService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupLocalServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountGroupRelWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryLocalService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryOrganizationRelServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountGroupRel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryUserRelServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryUserRelModel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryTable.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountRoleService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountRoleWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryUserRelLocalService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountRolePersistence.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountGroupRelUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountEntryUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountGroupUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountEntryPersistence.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountGroupRelPersistence.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountEntryOrganizationRelUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountEntryUserRelPersistence.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountEntryUserRelUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountEntryOrganizationRelPersistence.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountGroupPersistence.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryOrganizationRelTable.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountGroupTable.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryOrganizationRelLocalServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryUserRelLocalServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/persistence/AccountRoleUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryUserRelLocalServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountGroupRelTable.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryOrganizationRelServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountGroup.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryUserRel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupLocalService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupRelLocalServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountRoleModel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryModel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryOrganizationRelWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryLocalServiceWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountRoleServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountRole.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryOrganizationRelLocalServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryUserRelTable.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryUserRelWrapper.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupRelLocalService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryLocalServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountGroupRelLocalServiceUtil.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntry.java linguist-generated=true
account-api/src/main/java/com/liferay/account/service/AccountEntryOrganizationRelService.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountRoleTable.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountGroupModel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountGroupRelModel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryOrganizationRel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountEntryOrganizationRelModel.java linguist-generated=true
account-api/src/main/java/com/liferay/account/model/AccountGroupWrapper.java linguist-generated=true
account-test/src/testIntegration/java/com/liferay/account/service/persistence/test/AccountGroupPersistenceTest.java linguist-generated=true
account-test/src/testIntegration/java/com/liferay/account/service/persistence/test/AccountRolePersistenceTest.java linguist-generated=true
account-test/src/testIntegration/java/com/liferay/account/service/persistence/test/AccountEntryOrganizationRelPersistenceTest.java linguist-generated=true
account-test/src/testIntegration/java/com/liferay/account/service/persistence/test/AccountGroupRelPersistenceTest.java linguist-generated=true
account-test/src/testIntegration/java/com/liferay/account/service/persistence/test/AccountEntryUserRelPersistenceTest.java linguist-generated=true
account-test/src/testIntegration/java/com/liferay/account/service/persistence/test/AccountEntryPersistenceTest.java linguist-generated=true
