.portlet-admin {
	.server-admin-tabs {
		margin-top: 20px;
	}

	.meter-wrapper img {
		margin: 0 70px;
	}

	.memory-status-table {
		margin: auto;
	}

	.progress-percentage {
		position: absolute;
		display: block;
		width: 100%;
		color: black;
	}

	.reindex-progress {
		position: relative;
		width: 100px;
	}

	.server-admin-actions-panel .panel-body {
		padding: 0;
	}

	.server-status-container {
		padding: 20px;
	}

	.system-action-group {
		margin-bottom: 0;

		li {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}